[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest-cov = "*"
pytest = "*"
flake8 = "*"
mock = "*"
travis = "*"
nose = "*"

[packages]

[requires]
python_version = "3.6"
